In [ ]:
## Janke Final

In [2]:
## Load Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import os

In [5]:
## Read in file
## Set low_memory=False to deal with mix datatype errors
crashtable = pd.read_csv("2c13021f-74a9-4289-a1e5-fe0472c89881.csv", index_col=0, low_memory=False)

crashtable.shape

(170365, 189)

In [6]:
crashtable.head()

,DISTRICT,CRASH_COUNTY,MUNICIPALITY,POLICE_AGCY,CRASH_YEAR,CRASH_MONTH,DAY_OF_WEEK,TIME_OF_DAY,HOUR_OF_DAY,ILLUMINATION,...,LANE_COUNT,RDWY_ORIENT,ROAD_OWNER,ROUTE,SPEED_LIMIT,SEGMENT,OFFSET,STREET_NAME,TOT_INJ_COUNT,SCHOOL_BUS_UNIT
CRASH_CRN,,,,,,,,,,,,,,,,,,,,,
2004000001,11,2,2454,02454,2004,1,5,257.0,2.0,2,...,2.0,E,2.0,2032,35.0,10.0,1000.0,LEWIS RUN RD,NaN,NaN
2004000010,11,2,2440,02440,2004,1,5,1027.0,10.0,1,...,2.0,W,3.0,NaN,35.0,NaN,NaN,COAL VALLEY RD,NaN,NaN
2004000016,11,2,2203,02203,2004,1,5,1839.0,18.0,2,...,2.0,W,2.0,3082,35.0,NaN,NaN,CLINTON FRANKFORT RD,NaN,NaN
2004000022,11,2,2404,02404,2004,1,6,914.0,9.0,1,...,2.0,N,4.0,NaN,25.0,NaN,NaN,NORTH BALPH AV,NaN,NaN
2004000030,11,2,2419,02419,2004,1,5,2230.0,22.0,3,...,2.0,S,4.0,NaN,20.0,NaN,NaN,THORNBERRY DR,NaN,NaN